@model List<ProductSearchResult>

@if (Model != null && Model.Any())
{
    <h2 class="mt-3">Resultados de la búsqueda</h2>
    <div class="row">
        @foreach (var result in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (result.IsFromLaCasa)
                    {
                        <div class="card-header bg-primary text-white">
                            La Casa del Electrodoméstico
                        </div>
                        <div class="card-body">
                            <p class="card-text">ID Producto: @result.ProductId</p>
                            <a href="@result.url" target="_blank">@result.url</a>
                        </div>
                    }
                    else
                    {
                        <div class="card-header bg-primary text-white">
                            URL
                        </div>
                        <div class="card-body">
                            <a href="@result.url" target="_blank">@result.url</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
